html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Search Spotify
        link(rel="stylesheet", href="/dist/css/boilerplate.css")
        link(rel="stylesheet", href="/dist/css/styles.css")

    body
        header#header
            #branding
                span Search Spotify
        #headerSpacer

        main#content

            form#search(action="/search", method="POST")
                input#searchTerm(type="text", name="searchTerm", value=`${searchTerm}`)
                input#submitSearch(type="submit" value="Search")

            #artists
                h2 Artists
                ul
                    each artist in artists
                        li= artist.name
                            a(href=`${artist.external_urls.spotify}`)
                                if artist.images.length >0
                                    img(src=`${artist.images[0].url}`, alt="Artist Image")
                                else
                                    span No Image
                    else
                        li No Artist found
                
            #albums
                h2 Albums
                ul
                    each album in albums
                        li= album.name
                        a(href=`${album.external_urls.spotify}`)
                            if album.images.length > 0
                                img(src=`${album.images[0].url}`, alt="Artist Image")
                            else
                                span No Image
                    else
                        li No Album found

            #tracks
                h2 Tracks
                ul
                    each track in tracks
                        li= track.name
                    else
                        li No Track found