html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Search Spotify
        link(rel="stylesheet", href="/dist/css/boilerplate.css")
        link(rel="stylesheet", href="/dist/css/styles.css")

    body
        header#header
            #branding
                span Search Spotify
        #headerSpacer

        main#content

            form#search(action="/search", method="POST")
                input#searchTerm(type="text", name="searchTerm", value=`${searchTerm}`, placeholder="Artist or Album Name")
                input#submitSearch(type="submit" value="Search")

            h2 Artists
            #artists
                each artist in artists
                    .artist
                        span.artist__name= artist.name
                        a(href=`${artist.external_urls.spotify}`)
                            if artist.images.length > 0
                                img(src=`${artist.images[0].url}`, alt="Artist Image")
                            else
                                img(src="https://via.placeholder.com/640?text=No+Image", alt="Placeholder Image")
                        a.artist__get-images(href="#") Get Images
                else
                    span No Artist found
                
            h2 Albums
            #albums
                each album in albums
                    .album
                        span.album__name= album.name
                        a(href=`${album.external_urls.spotify}`)
                            if album.images.length > 0
                                img(src=`${album.images[0].url}`, alt="Album Image")
                            else
                                img(src="https://via.placeholder.com/640?text=No+Image", alt="Placeholder Image")
                        a.album__get-images(href="#") Get Images
                else
                    span No Album found